/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

/* Remode outline */
:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

/* Change to block */
nav, footer, header, aside {
  display: block;
}

/* html-body style */
html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* fonts for form */
input, button, textarea {
  font-family: inherit;
}

/* Form style */
input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/* headers reset */
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/* body */
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* wraper */
.wraper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

/* content */
.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/* welcome block */
.welcome {
  padding: 50px 0;
  background-color: #445162;
}

.welcome__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.welcome__body {
  color: #ffffff;
  padding: 0px 20px 0px 0px;
}

.welcome__title {
  font-size: 60px;
  color: #ffffff;
}

.welcome__list {
  margin-top: 40px;
}

.welcome__list li {
  background: url(../img/check_icon.png) left 2px no-repeat;
  padding-left: 35px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  font-size: 20px;
  line-height: 25px;
  padding: 0 0 10px 35px;
}

/* about block */
.about {
  padding: 50px 0;
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 430px;
          flex: 0 1 430px;
}

.about__title {
  color: #445161;
  font-size: 30px;
  line-height: 36px;
}

.about__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0px 50px 0px 38px;
}

.about__text {
  margin-top: 25px;
}

.about__text p {
  color: #333333;
  font-size: 16px;
  line-height: 24px;
  padding: 0 0 25px 0;
}

.about__text p:last-child {
  padding: 0;
}

/* text block */
.text {
  padding: 50px 0;
  background-color: #f5f5f5;
}

.text__title {
  color: #445161;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 30px;
}

.text__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -8px;
}

.text__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin-bottom: 30px;
  padding: 0px 8px;
}

.item__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
}

.item__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-left: 15px;
}

.item__title {
  color: #445161;
  font-size: 24px;
  margin-bottom: 15px;
}

.item__text {
  color: #333333;
  font-size: 16px;
  line-height: 24px;
}

/* table block */
.table {
  padding: 50px 0;
}

.table__title {
  color: #445161;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 30px;
}

.table__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -22.5px;
}

.table__body {
  padding: 0 100px;
}

.table__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.33%;
          flex: 1 1 33.33%;
  padding: 0px 22.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.table__item {
  background-color: #445162;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.table__subtitle {
  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  padding: 15px 0;
}

.table__lable {
  background-color: #fff;
  border: 1px solid #445162;
  color: #445162;
  font-size: 40px;
  line-height: 30px;
  text-align: center;
  padding: 15px 0px;
}

.table__text {
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  padding: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.table__text p {
  padding-bottom: 20px;
}

.table__text p:last-child {
  padding-bottom: 0px;
}

.table__btn {
  background-color: #ffffff;
  margin: 0 20px 20px 20px;
  text-align: center;
  min-height: 40px;
  border-radius: 5px;
  padding: 10px;
  color: #445161;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
}

/* Footer */
.footer {
  background-color: #f5f5f5;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 65px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text {
  color: #445162;
  font-size: 12px;
  letter-spacing: 0.3px;
}
